<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document2</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header class="container-flex">
        <div class="container-flex header">Команда Eleonor</div>
    </header>
    <div class="body container-flex">
        <div class="left_panel">
            <div class="worker_info">
                <div class="name">Иванов Иван Иванович</div>
                <div class="profession">Инженер</div>
            </div>
            <div class="menu">
                <div class="btn_menu"><a href="/">Документы</a></div>
            </div>
        </div>
        <div class="right_panel">
            <div class="title">Документы</div>
            <div class="content">
                <ul>
                    <a href="/docviewer"><li>Документ 1</li></a>
                    <a href="/docviewer"><li>Документ 2</li></a>
                    <a href="/docviewer"><li>Документ 3</li></a>
                    <a href="/docviewer"><li>Документ 4</li></a>
                    <a href="/docviewer"><li>Документ 5</li></a>
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>